.navbar-custom-item{
    margin-left: 20px;
    margin-right: 20px;
}
.navbar-custom{
    height: 5vw;
}

.cart-container {
    position: relative;
    display: inline-flex;
    align-items: center; 
}

.cart-count {
    background-color: grey; 
    color: white;          
    border-radius: 50%;    
    padding: 0.2rem 0.5rem; 
    font-size: 0.7rem;     
    position: absolute;    
    top: 0;                
    right: -0.3rem;         
    min-width: 1rem;        
    text-align: center;    
}
