<section class="home">
    <div>
      
      <div>
        <div class="main-item active" style="background-image: url(assets/images/slide1.jpg);">
          <div class="container">
            <h2>Lorem ipsum</h2>
            <p>Lorem ipsum</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-subscribe></app-subscribe>
        <!-- <div class="main-item active" style="background-image: url(assets/images/slide2.jpg);">
          <div class="container">
            <h2>Lorem ipsum</h2>
            <p>Lorem ipsum</p>
          </div>
        </div>

        <div class="main-item active" style="background-image: url(assets/images/slide3.jpg);">
            <div class="container">
              <h2>Lorem ipsum</h2>
              <p>Lorem ipsum</p>
            </div>
          </div> -->